.container {
    display: grid;
    grid-gap: 25px;
}

.card {
    padding-bottom: 10px;
}

.card-body {
    width: 100%;
}

.card-body .sepete-ekle-btn {
    border: 2px solid #e4ff00;
    border-radius: 6px;
    background: #40c5c5;
    padding: 4px 15px;
    margin-right: 10%;
}

.card-body .beden {
    float: right;
    margin-top: -40px;
    margin-right: 5px;
}

.card-body select {
    padding: 4px;
    width: 110%;
}

.card-body img {
    width: 9%;
    padding-bottom: 5%;
}

.carousel-area {
    width: 100%;
}

.carousel-inner {
    width: 100%;
}

.carousel-item {
    width: 100%;
}

.carousel-item img{
    width: 100%;
}

.carousel-control-prev {
    color: black;
}

.carousel-control-next {
    color: black;
}