body {
    width: 100%;
    padding: 0 150px;
    color: black;
}

.wrapper {
    width: 100%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8%;
    margin-top: 10px;
}

.header .logo {
    width: 20%;
}

.logo img {
    width: 100%;
    border-radius: 10px;
}

.search {
    padding-top: 30px;
    width: 35%;
}

.user-login {
    width: 29%;
    padding-top: 30px;
}

.navbar-nav {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    width: 100%;
    gap: 5%;
}

.navbar-nav li {
    width: 27%;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 5px;
}

.sol-cizgi {
    border-left: 1px solid #000000;
}

.sag-cizgi {
    border-right: 1px solid #000000;
}

.nav-link {
    color: black !important;
}

.giris-icon {
    width: 20px;
}

.navigator {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 4%;
    justify-content: center;
}

.navigator2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.4%;
}

.choice {
    width: 4.6%;
}

.choice img {
    border-radius: 10px;
    width: 100%;
}

.choice img:hover {
    opacity: 0.4;
}

.banner {
    width: 100%;
    height: 100%;
}

.banner img {
    width: 100%;
    height: 100%;
}

.kayan-yazi {
    font-size: 30px;
    padding-top: 5px;
    background: #f9ff23a3;
}

.go-top-btn{
    width: 50px;
    height: 50px;
    right: 50px;
    bottom: 40px;
    color: white;
    font-size: 22px;
    position: fixed;
    line-height: 50px;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    background: #c287e4;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 10%;
}

.footer .logo {
    width: 20%;
}

.footer .copyright {
    width: 40%;
}

.footer .social-media {
    width: 20%;
}

.copyright p {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.social-media img {
    width: 17%;
    margin-top: 25px;
}